 <% if !@jobs.any? %>
               <strong>Please modify or broaden your search with either new keywords or changing other parameters like freshness etc. </strong>
        <% else %>
          
        <% @jobs.each do |job| %>

        <div class="card m-1 p-3 mb-3 shadow">
            <div class="row">
             <div class="col-sm-10">
                <a href="https:<%= job.fetch(:link)%>"><strong><%= job.fetch(:title) %></strong></a>
                </div>
                <div class="col-sm-2 pull-right">
                 <small class="text-muted pull-right"> <%= job.fetch(:date) %></small>
                </div>
            </div>


                <div class="card-title">
                    <small><a href="https:<%= job.fetch(:company_link)%>"><%= job.fetch(:company_name) %></a></small>
                </div>
                <div class="">
                    <p class="card-text">
                        <small class="text-muted "> <%= job.fetch(:keyskill) %></small>
                        <br>
                        <%= job.fetch(:content) %>
                        <br>
                        <small class="text-muted "> <%= job.fetch(:location) %></small>
                    </p>
              </div>
            </div>

           <% end %>
        <% end %>