<div class="container">

<!-- For page header -->
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="fb-page text-center" 
                data-href="https://www.facebook.com/BBD497/"
                data-width="580" >
            </div>
    </div>
</div>
     

<br>


<!-- job lists -->
    <div class="row">
        <div class="col-md-8">
        <% @jobs.each do |job| %>
        <div class="card m-1 p-2 pb-0 mb-3">
            <span><a href="https:<%= job.fetch(:link)%>"><strong><%= job.fetch(:title) %></strong></a></span>
                <div class="card-title">
                    <small class="text-muted pull-right"> <%= job.fetch(:date) %>
                    <br>
                    <%= job.fetch(:company_name) %></small>
                </div>
                <div class="">
                    <p class="card-text">
                        <small class="text-muted "> <%= job.fetch(:location) %></small>
                            <br>
                        <%= job.fetch(:content) + " ..." %>
                        <% "#{job.fetch(:content)} ..."%>
                    </p>
                </div>
            </div>
           <% end %>
        </div>


<!-- timeline facebook -->
         <div class="col-md-4">
            <div class="fb-page" data-href="https://www.facebook.com/BBD497/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BBD497/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BBD497/">百宝  .  袋</a></blockquote></div>
        </div>

    </div>
</div>


                
<!-- timeline java -->
    <div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=2162517297298156&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
