<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testing.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @testing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testing.description %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @testing.postcode %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @testing.birthday %>
</p>

<p>
  <strong>Daylight:</strong>
  <%= @testing.daylight %>
</p>

<%= link_to 'Edit', edit_testing_path(@testing) %> |
<%= link_to 'Back', testings_path %>
