

<div id="modal-edit-fields">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
    <%= simple_form_for( @user ,url: user_edit_path, id:"edit" ,remote:true,
    wrapper_mappings: {
    boolean:       :custom_boolean,
    check_boxes:   :custom_collection,
    date:          :custom_multi_select,
    datetime:      :custom_multi_select,
    file:          :custom_file,
    radio_buttons: :custom_collection,
    range:         :custom_range,
    time:          :custom_multi_select,
    select:        :custom_multi_select
        }) do |f| %>
    
        
            <%= f.input :name , class:"form-control"%>
           
       
            <%= f.input :email , class:"form-control"%>
             
  
<div class="control-group">
  <div class="attach-set">
    <%= f.input :real_file, input_html: { hidden: true }, label: 'Upload Attachment' %>
      <%= f.input :avatar, as: :file %>
    <div class="input-append">
      <input id="file-display" class="input-large uneditable-input" type="text">
      <a id="upload-btn" class="btn"><i class="icon-upload-alt"></i> Browse</a>
    </div>
  </div> <!-- /attach-set -->
</div> <!-- /control-group -->
  

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save changes",class:"btn btn-primary",id:"hide" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>


<script>
$('#hide').submit(function(e) {
    e.preventDefault();
    // Coding
    this.modal('hide');
    $('#exampleModal').modal('hide'); //or  $('#IDModal').modal('hide');
    return false;
   
});
</script>
 
